.body-epk {
    background-color: black;
    }
 
h4.modal-title {
    font-size: 1.5em;
    font-family: oswald;
    color: white;
}
    
span {
    color: #ff008c;
}
    
div.modal-content {
    background-color: black;
}

object {
    width: 100%;
    height: 80vh;
}