@media screen and (max-width: 996px){
  * {
    margin: 0;
  }
  
  body {
    background-color: #000000;
    font-family: 'Oswald', sans-serif;
    padding-top: 50px; /* Compense la hauteur du header fixe */
  }
    
  em {
    color: #ff008c;
    font-style: normal;
  }
  
  h1 {
    font-size: 1.2em;
    color: #ff008c;
    text-align: center;
    margin-bottom: 30px;
    /*text-decoration: underline; */
    /*text-decoration-color: #ff008c; */ /* Couleur du soulignement */
    /*text-underline-offset: 4px; */
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-size: 1em;
  }
  
/**********************************************/
/******************HEADER*********************/
/*********************************************/

header {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center; /* Aligne les éléments verticalement */
  padding: 10px; /* Ajustez le padding selon vos besoins */
}
  
.logo-container img {
  max-width: 80px;
  height: auto;
}
  
.logo-grand {
  display: none;
}
  
.logo-petit {
  display: block;
}

/*.fleur img {
  max-width: 50px;
  height: auto;
} */

.social-icons {
  display: flex;
  align-items: center; /* Aligne les icônes de réseaux sociaux verticalement */
}
  
.lien-icone {
  display: inline-block;
  margin-left: 10px;
}
  
.lien-icone img {
  max-width: 25px;
  height: auto;
}
  
.lien-icone:hover {
  opacity: 0.5;
}
  
/**********************************************/
/******************BIO************************/
/*********************************************/  

p {
  font-size: 0.9em;
  color: white;
  text-align: center;
  margin: 30px 15%;
  line-height: 1.4; /* Ajustez l'interligne comme souhaité */
}

.portrait {     /* Photo de portrait */
  display: block;
  margin: 0 auto;
  max-width: 70%;
  height: auto;
  padding-bottom: 30px;
}
#voir-plus-contenu {
  display: none;
}

#voir-plus-bouton {
  color: #FF008C;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8em;
}

/**********************************************/
/******************PHOTOS**********************/
/*********************************************/

  .accueil-photos {
    background-color: rgb(0, 0, 0);
    text-align: center; /* Centre le contenu horizontalement */
  }
  
  .photogrande {
    max-width: 70%; /* Ajustez la largeur des images selon vos besoins */
    height: auto;
    margin-bottom: 20px;
  }

  .photopetite {
    margin: 5px 5px; /* Espacement horizontal entre les images (20px divisé par 2) */
    max-width: 60%; /* Ajustez la largeur des images selon vos besoins */
    height: auto;
  }

  .photopetite2 {  
    margin : 5px 5px ;     
    max-width: 30%; /* Ajustez la largeur des images selon vos besoins */
    height: auto;
 }
  

  
/**********************************************/
/******************MUSIQUE*********************/
/**********************************************/
.music {  
  text-align:center ;  
  padding-bottom :0px ;
}

.album {  
  width :60% ;  
  max-width :400px ;  
  display:block ;  
}

.album:hover {  
  opacity :0.6 ;  
}

/*.soundcloud {
  width: 60%;
} */

/**********************************************/
/******************VIDEOS********************/
/*********************************************/

.photo-video {  
  max-width :70% ;   
  height:auto ;
  display:block ;
  margin :20px auto ;
}

/********************
.yt iframe{
  aspect-ratio: 16/9;
  width: 90%;
}

.yt {
  margin-bottom: 20px;
  text-align:center ;
}
*********************/

/**********************************************/
/******************CONCERTS********************/
/*********************************************/

.concerts {  
  display:flex ;  
  flex-direction :column ;  
  align-items:center ;  
  width :100% ;  
}

.concerts-table {  
  width : 98% ;
  table-layout :fixed ;
  border-collapse :collapse ;
}

.concerts-table th,
.concerts-table td { 
  font-size: 0.8em; 
  padding :3px ; /* hauteur entre les lignes du tableau */
  text-align:center ;
  overflow:hidden ;
  text-overflow :ellipsis ;
  white-space :nowrap ;
}

.concerts-table th {  
  font-weight:bold ;
  color:#ff008c ;
  border-bottom :1px solid #ff008c ;
}

.concerts-table td {  
  color:white ;
}

.passés {
  margin-top: 40px;
}

/**********************************************/
/******************FOOTER*********************/
/*********************************************/

  footer {
    text-align: center;
    padding: 20px;
  }

  footer span {
    display: block;
    font-size: 0.5em;
    font-style: italic;
    color: white;
  }

/***********************************************/
/*****************Page musique*****************/
/**********************************************/

.page-album {
  width: 100%;
  max-width: 300px; /* Ajustez selon vos besoins */
  display: block;
  margin: 20px auto; /* Centrer l'image */
}

.logo-musique {
  max-width: 100px;
  height: auto;
}

}

