.body-epk {
  background-color: black;
}

.bouton-epk button {
  background-color: black;
  color: #ff008c;
  font-family: oswald;
  font-size: 4em;
  border: none;
  position: absolute; /* postulat de départ */
  top: 30%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */

}

.bouton-epk button:hover {
  color: #ff008caf;
  border: none;
}

.bouton-epk button:active {
  color: #ff008c;
  border: none;

}

.bouton-epk button:focus {
  color: #ff008c;
  outline: none;
  border: none;
}

h4.modal-title {
  font-size: 1.5em;
  font-family: oswald;
  color: white;
}

span {
  color: #ff008c;
}

div.modal-content {
  background-color: black;
}