/**********************************************/
/******************EPK************************/
/*********************************************/

body {
    background-color: #000000;
}

.pdf {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  height: 100vh; /* La hauteur de la fenêtre du navigateur */
  position: fixed; /* il restera à la même position lors du défilement de la page */
  top: 50%; /* qu'il sera placé à 50% de la distance par rapport au bord supérieur et gauche de la fenêtre du navigateur */
  left: 50%;
  transform: translate(-50%, -50%); /* cela signifie que l'iframe est centrée à la fois horiz et vertical par rapport au point (50%, 50%) */
    /* -50% signifie que l'iframe est décalée de moitié de sa propre taille dans la direction opposée */
}