* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

em {
  color: #FF008C;
  font-style: normal;
}


/*************** CARROUSSEL **************/

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10px;
}

.slider-section{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.slider {
  display: flex;
  justify-content: flex-start;
  width: 800px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.slide {
  width: 100%;
  scroll-snap-align: start;
}

.slider__indicators {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #FF008C;
  margin: 4px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease;
}

.indicator:hover {
  background-color: rgba(240, 128, 128, 0.75);
}

.indicator.active {
  background-color: rgba(240, 128, 128, 1);
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #FF008C;
}

.nav-btn:hover {
  color: rgba(240, 128, 128, 1);
  top: 48%;
}

#gonext-btn {
  left: 100%;
}

#goback-btn {
  right: 100%;
}

.slider::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

/**********************************************/
/******************BIO et MUSiC****************/
/*********************************************/

.logo-rc{
  max-width: 200px;
  margin-bottom: 30px;
}

.origine{
  margin-bottom: 30px;
}

.bio-music {
  display: flex;
  flex-direction: row;
  padding: 40px 5%;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.bio {
  flex: 1;
  padding-right: 20px; /* Ajoute un peu d'espace à droite */
}

.music {
  flex: 1;
  padding-left: 20px; /* Ajoute un peu d'espace à gauche */
}

.music img.album {
  width: 100%;
  max-width: 350px; /* Limite la largeur de l'image */
  height: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Pour améliorer la lisibilité du texte */
.bio p {
  font-size:1.3em; 
  color:white; 
  line-height :1.4 ;
  margin-top: 30px; 

}

h1 {
  font-size: 2em;
  color: #FF008C;
}

h2 {
  color: white;
  margin-top: 30px;
}

h3{
  color: rgba(255, 255, 255, 0.9); /* Blanc avec 10% de transparence */
  margin-bottom: 10px;
}

/***************************/
/*******telechargement****/
/************************/

.download-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  border: 1px solid #FF008C;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.download-link:hover {
  background-color: #FF008C;
}

.booking p {
  font-size:1.1em; 
  color:white; 
  line-height :1.4 ;
  margin-top: 30px; 

}


/**********************************************/
/******************FOOTER*********************/
/*********************************************/

.lien-icone {
  display: inline-block; 
  margin-left: 15px; /* Espacement entre les icônes */
}

.lien-icone img {
  width: 40px; /* Taille des icônes des réseaux sociaux */
  height: auto; /* Maintient le ratio d'aspect */
}

.lien-icone:hover {
  opacity: 0.5; /* Effet au survol */
}

.social-icons{
  margin-bottom: 20px;
  margin-top: 40px;
}

