body.landing #page-wrapper {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/photos/RC-A.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/photos/RC-A.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/photos/RC-A.png");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/photos/RC-A.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
}

body.landing #footer {
    background-color: rgba(29, 36, 42, 0.9);
}

body.is-mobile.landing #page-wrapper {
    background: none;
}

body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/audio/pages/page_163/img1/It It Anita by Gregory Derkenne - 03 - 72DPI.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/audio/pages/page_163/img1/It It Anita by Gregory Derkenne - 03 - 72DPI.jpg");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/audio/pages/page_163/img1/It It Anita by Gregory Derkenne - 03 - 72DPI.jpg");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/audio/pages/page_163/img1/It It Anita by Gregory Derkenne - 03 - 72DPI.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

