* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Oswald', sans-serif;
  padding-top: 110px; /* Compense la hauteur du header fixe */
}

em {
  color: #FF008C;
  font-style: normal;
}

h1 {
  font-size: 2em;
  color: #FF008C;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

header {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center; /* Aligne les éléments verticalement */
  padding: 15px; /* Ajustez le padding selon vos besoins */
}

.top {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement */
  justify-content: space-around;
}

/* Conteneur du logo */

.logo-container img {
   height: auto; /* Assurez-vous que la hauteur est automatique pour garder les proportions */
   max-height: 80px; /* Hauteur maximale pour le logo grand */
}

.logo-petit {
  display: none; /* Masque le petit logo par défaut */
}

.menu-icon {
   cursor: pointer;
}

.menu-icon i {
   font-size: 24px; /* Taille de l'icône du menu */
   color: #ff008c; /* Couleur de l'icône du menu */
}

.lien-icone {
    display: inline-block; 
    margin-left: 15px; /* Espacement entre les icônes */
}

.lien-icone img {
    width: 40px; /* Taille des icônes des réseaux sociaux */
    height: auto; /* Maintient le ratio d'aspect */
}

.lien-icone:hover {
    opacity: 0.5; /* Effet au survol */
}

/**********************************************/
/******************NAVIGATION******************/
/**********************************************/

nav {
    display: none; 
    position: fixed; 
    top: 110px; 
    left: 0; 
    width: 100%; 
    background-color: rgba(0,0,0,0.9); 
    z-index: 999; 
}

nav.show-menu {
    display: block; 
}

nav ul {
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
    padding:10px; 
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    color: white; 
    text-decoration:none; 
    font-size:1.2em; 
    transition:.3s ease color;
    font-weight: bold;
    
}

nav ul li a:hover {
    color:#FF008C; 
}

/* Ajustement de la marge pour le contenu principal en dessous du nav*/
main {
    padding-top: 50px; 
}

section {
  scroll-margin-top: 170px;
}

/**********************************************/
/******************BIO************************/
/*********************************************/

p {
    font-size:1.3em; 
    color:white; 
    margin :40px 25%; 
    line-height :1.4 ; 
    text-align:center ; 
}

.portrait {     
   display:block ;  
   margin :0 auto ;  
   max-width :35% ;  
   height:auto ;  
   padding-bottom :40px ;  
}

#voir-plus-contenu {
   display: none;
}

#voir-plus-bouton {
   color: #FF008C;
   text-decoration: none;
   cursor: pointer;
   font-size: 0.9em;
}

/**********************************************/
/******************MUSIQUE*********************/
/**********************************************/

.music {  
   text-align:center ;  
   padding-bottom :40px ;  
}

.album {  
   width :100% ;  
   max-width :400px ;  
   display:block ;  
   margin :20px auto ; 
}

.album:hover {  
   opacity :0.6 ;  
}

/**********************************************/
/******************PHOTOS**********************/
/*********************************************/

.accueil-photos {  
   text-align:center ; 
   padding :20px ; /**Marge au-dessus**/ 
}

.photogrande {  
   max-width :50% ;   
   height:auto ;
   margin-bottom: 50px;
}

.photopetite {  
   margin :20px ;   
   max-width :40% ;   
   height:auto ;  
}

.photopetite2 {  
   margin :20px ;   
   max-width :20% ;   
   height:auto ;  
}

/**********************************************/
/******************VIDEOS*********************/
/*********************************************/

.photo-video {  
   max-width :40% ;   
   height:auto ;
   display:block ;
   margin :50px auto ;
}

.photo-video:hover {  
   opacity :0.7 ;  
}

/***************
.yt iframe{
   aspect-ratio: 16/9;
   width: 50%;
}

.yt {
   margin-bottom: 50px;
   text-align:center ;
}
**************/


/**********************************************/
/******************CONCERTS********************/
/*********************************************/

.concerts {  
   display:flex ;  
   flex-direction :column ;  
   align-items:center ;  
   width :100% ;  
}

.concerts-table {  
   width : 50% ;
   max-width :800px ;
   table-layout :fixed ;
   border-collapse :collapse ;
}

.concerts-table th,
.concerts-table td {  
   padding :5px ; /* hauteur entre les lignes du tableau */
   text-align:center ;
   overflow:hidden ;
   text-overflow :ellipsis ;
   white-space :nowrap ;
}

.concerts-table th {  
   font-weight:bold ;
   color:#ff008c ;
   border-bottom :1px solid #ff008c ;
}

.concerts-table td {  
   color:white ;
}

.passés {
   margin-top: 60px;
}

/**********************************************/
/******************FOOTER*********************/
/*********************************************/

footer {   
     text-align:center ;
     padding :50px ;
 }

footer span {   
     font-size:.8em ;
     font-style :italic ;
     color:white ;
 }

 /***********************************************/
/*****************Page musique*****************/
/**********************************************/

.page-album {
   width: 100%;
   max-width: 300px; /* Ajustez selon vos besoins */
   display: block;
   margin: 20px auto; /* Centrer l'image */
 }
